<div class="well">
    <ul class="nav nav-list">
        <li>
            <a class="btn-primary" href="{{ 'login'}}"><center>Identifiez-vous</center></a>
        </li>
        <li>
            <br>
       <div>    <font size="2" color="gray"> Nouveau client ?</font>
            <a href="{{ 'register' }}"><font size="2"> Commencer ici.</font></a>
       </div>
        </li>
    </ul>
</div>