{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="span3">
        {% include '::modulesUser/navigation.html.twig' %}
        {% include 'UtilisateursBundle:Default:modulesUsed/UtilisateursConnecte.html.twig' %}
        {% render(controller('EcommerceBundle:Panier:menu')) %}

    </div>
    <div class="span9">
        <h2><font color="green"> Modifier mes informations</font></h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">

                <div class="span4">
                    <li class="thumbnail">
                        <div>
                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                        {{ form_widget(form) }}

                        <br />
                      <center>  <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" /></center>
                    </form>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>


